* text=auto

*.freezed.dart linguist-generated
*.g.dart linguist-generated
lib/bridge_definitions.dart -linguist-generated
lib/bridge_generated.dart -linguist-generated
rust/src/bridge_generated.io.rs -linguist-generated
rust/src/bridge_generated.rs -linguist-generated